<ul>
  <%= for pizza <- pizzas do %>
    <li>
      <%= pizza.id %> - <%= pizza.name %>
      <ul>
        <%= for ingredient <- pizza.ingredients do %>
        <li>
          <%= ingredient %>
        </li>
        <% end %>
      </ul>
      <%= pizza.image %>
	  </li>
  <% end %>
</ul>