<ul>
  <%= for pizza <- pizzas do %>
    <li>
      <%= pizza.id %> - <%= pizza.name %>
      <ul>
        <%= for ingredient <- pizza.ingredients do %>
          <li>
            <%= ingredient %>
          </li>
        <% end %>
      </ul>
      <img src="/img/<%=pizza.image%>" alt="Image of <%=pizza.name%>" width="200" height="200">
	  </li>
  <% end %>
</ul>